<div class="alerts pl-12 md:pl-3 pr-16 max-w-[1144px]">
    <% if (viewsHelper.hasMessages(req, 'adminError')) { %>
        <% req.session.messages.adminError.forEach(function(msg) { %>
            <div class="alert bg-red-600 rounded font-medium mt-8">
                <div class="alert-items">
                    <div class="alert-item flex gap-2 p-2 text-white">
                        <div class="alert-icon-wrapper"><span class="material-icons-outlined">warning_amber</span></div>
                        <span class="alert-text">
                            <%= __(msg) %>
                        </span>
                    </div>
                </div>
            </div>
            <% req.session.messages.adminError = req.session.messages.adminError.filter(function (elem) {
                return elem !== msg
            }) %>
        <% }) %>
    <% } %>

    <% if (viewsHelper.hasMessages(req, 'adminSuccess')) { %>
        <% req.session.messages.adminSuccess.forEach(function(msg) { %>
            <div class="alert bg-green-600 rounded font-medium mt-8">
                <div class="alert-items">
                    <div class="alert-item flex gap-2 p-2 text-white">
                        <div class="alert-icon-wrapper"><span class="material-icons-outlined"> thumb_up_alt </span></div>
                        <span class="alert-text">
                            <%= __(msg) %>
                        </span>
                    </div>
                </div>
            </div>
            <% req.session.messages.adminSuccess = req.session.messages.adminSuccess.filter(function (elem) {
                return elem !== msg
            }) %>
        <% }) %>
    <% } %>
</div>
