<div class="custom-catalog__form">
    <form action="" id="form-group-fields">
        <div class="flex flex-col gap-2">
            <label class="admin-panel__title" for="targetBlank"><%= __("Open in a new window") %></label>
            <div class="checkbox relative">
                <input type="checkbox" id="targetBlank" name="targetBlank">
                <span class="check"></span>
            </div>
        </div>
        <div class="flex flex-col gap-3">
            <div class="admin-panel__wrapper-title">
                <label class="admin-panel__title" for="form-title">Name</label>
            </div>
            <div class="admin-panel__widget">
                <div class="widget_narrow">
                    <input class="text-input w-full" type="text" placeholder="Title" value="" name="name"
                           id="group-form-title" required/>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-3 mt-3">
            <div class="admin-panel__wrapper-title">
                <label class="admin-panel__title" for="form-link">Link</label>
            </div>
            <div class="admin-panel__widget">
                <div class="widget_narrow">
                    <input class="text-input w-full" type="text" placeholder="Link" value="" name="link"
                           id="form-link" required/>
                </div>
            </div>
        </div>
    </form>
    <div>
        <button class="btn btn-green" id="save-group" type="submit" form="form-group-fields">
            <%= __('Save') %>
        </button>
    </div>
</div>
<script>
  {
    let formGroup = document.getElementById('form-group-fields')
    let targetBlank = document.getElementById('targetBlank')
    formGroup.addEventListener('submit', async function (e) {
      e.preventDefault()

      let parentId = document.getElementById('parentId')
      let data = {
        parentId: parentId.value,
        type: 'link',
      }

      for (const el of formGroup.elements) {
        if (el.value) data[el.name] = el.value
      }
      data.targetBlank = targetBlank.checked
      let res = await ky.post('', {json: {data: data, _method: 'createItem'}}).json()
      if (res.data) document.getElementById('checkbox-ready').click()
    })
  }
</script>
