<%- include("head") %>
<%- include("headContent") %>
<script src="<%- config.routePrefix %>/assets/js/vue-catalog.js" defer></script>
<div class="custom-catalog h-full">
    <div id="catalog" class="h-full"></div>
</div>

<%- include("footer") %>
