<%- include("head") %>
<%- include("headContent") %>
<script type="module" src="<%- viteRender('src/assets/js/catalog/catalog.js') %>"></script>
<div class="custom-catalog h-full">
    <div id="catalog" class="h-full"></div>
</div>

<%- include("footer") %>
