<%- include("mixin/sections") %>
<div class="grid md:block md:flex-grow grid-cols-[252px_8px_1fr] h-[calc(100%_-_76px)] md:h-full content-resize">
    <%- include("mixin/navbar", {entity: entity}) %>
    <div class="h-full bg-transparent w-2 relative left-[-4px] md:hidden cursor-col-resize left-resize"></div>
    <div class="content w-full md:pt-[138px] h-full">
        <%- include("mixin/alerts") %>
