.custom-catalog {
	@apply p-6 md:mt-[-50px];
	&__container {
		@apply mt-4 grid grid-cols-2 gap-4 sm:grid-cols-1;
	}
	&__form{
		@apply flex flex-col gap-4;
	}
	&__form-input{
		@apply flex gap-4 flex-col;
	}
}

/* lib style */
.sl-vue-tree-next {
	position: relative;
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.sl-vue-tree-next.sl-vue-tree-next-root {
	border: 1px solid rgb(9, 22, 29);
	background-color: rgb(9, 22, 29);
	color: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
}

.sl-vue-tree-next-root > .sl-vue-tree-next-nodes-list {
	overflow: hidden;
	position: relative;
	padding-bottom: 4px;
}

.sl-vue-tree-next-selected > .sl-vue-tree-next-node-item {
	background-color: #13242d;
	color: white;
}

.sl-vue-tree-next-node-item:hover,
.sl-vue-tree-next-node-item.sl-vue-tree-next-cursor-hover {
	color: white;
}

.sl-vue-tree-next-node-item {
	position: relative;
	display: flex;
	flex-direction: row;

	padding-left: 10px;
	padding-right: 10px;
	line-height: 28px;
	border: 1px solid transparent;
}

.sl-vue-tree-next-node-item.sl-vue-tree-next-cursor-inside {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.sl-vue-tree-next-gap {
	width: 25px;
	min-height: 1px;
}

.sl-vue-tree-next-toggle {
	display: inline-block;
	text-align: left;
	width: 20px;
}

.sl-vue-tree-next-sidebar {
	margin-left: auto;
}

.sl-vue-tree-next-cursor {
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.5);
	height: 1px;
	width: 100%;
}

.sl-vue-tree-next-drag-info {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	margin-left: 20px;
	padding: 5px 10px;
}


/* custom style */
.sl-vue-tree-next.sl-vue-tree-next-root {
	@apply text-[#565656] dark:text-gray-300 bg-inherit border-none;
}

.sl-vue-tree-next-node-item:hover, .sl-vue-tree-next-node-item.sl-vue-tree-next-cursor-hover {
	@apply text-black dark:hover:text-gray-100;
}

.sl-vue-tree-next-selected > .sl-vue-tree-next-node-item {
	@apply bg-[#D9E4EA] dark:bg-gray-900 dark:text-gray-100 text-black;
}

.sl-vue-tree-next-drag-info {
	@apply bg-transparent;
}

.sl-vue-tree-next-root > .sl-vue-tree-next-nodes-list {
	@apply h-full;
}

.sl-vue-tree-next-cursor {
	@apply border-[#565656] dark:border-gray-100;
}

.contextmenu {
	@apply bg-white dark:bg-gray-900 text-[#565656] dark:text-gray-300 absolute rounded-[2px] cursor-pointer md:w-screen md:shadow-[0px_1px_3px_2px_#74747440] md:bg-sky-100 opacity-0 invisible transition md:transition-all md:h-full md:max-h-[0] z-10;
}
.contextmenu--active{
	@apply opacity-100 visible md:max-h-[25%];
}
.contextmenu--active-show{
	@apply max-h-[calc(100%_-_140px)];
}
.custom-catalog__actions-items{
	@apply py-3 shadow-[0px_1px_3px_0px_#74747440] dark:shadow-[0px_1px_3px_0px_#C2C1C13F] md:shadow-none;
}
.custom-catalog__actions-items li{
	height: 30px;
	padding: 0 23px;
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.custom-catalog__actions-items li:hover{
	@apply bg-[#D9E4EA] dark:bg-gray-600 text-black dark:text-gray-100;
}


.last-event {
	@apply text-white bg-[rgba(100,_100,_255,_0.5)];
	padding: 10px;
	border-radius: 2px;
}

.item-icon {
	display: inline-block;
	text-align: left;
	width: 20px;
}

.input-search {
	height: 36px;
}

.sl-vue-tree-next-title:has(> span.search) {
	@apply bg-[#D9E4EA] dark:bg-gray-900 pr-2;
}

.modal-content {
	@apply py-[31px] px-[41px] md:py-[15px] md:px-[15px];
	overflow: auto;
	height: 100vh;
}

.close-admin-modal-pu {
	top: 30px;
	right: 33px
}

.btn[disabled],
.action-disabled {
	pointer-events: none;
	opacity: 0.5;
}
