@import 'datatables.net-dt/css/jquery.dataTables.css';
@import 'handsontable/dist/handsontable.full.css';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw-src.css';
@import 'jsoneditor/dist/jsoneditor.css';
@import "@toast-ui/editor/dist/toastui-editor.css";
@import "material-icons/iconfont/outlined.css";
@import "tailwindcss";
@config "../../../tailwind.config.js";

html, body {
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-x: none;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    @apply overflow-hidden dark:text-slate-100 bg-gray-50 dark:bg-gray-800;
}

::-webkit-scrollbar-button {
    background-image: none;
    background-repeat: no-repeat;
    width: 5px;
    height: 0;
    @media (max-width: 768px) {
        width: 3px;
    }
}

::-webkit-scrollbar-button:horizontal {
    height: 3px;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: rgba(136, 136, 136, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0.5);
}

::-webkit-resizer {
    background-image: none;
    background-repeat: no-repeat;
    width: 4px;
    height: 0;
}

::-webkit-scrollbar {
    width: 10px;
    @media (max-width: 768px) {
        width: 5px;
    }
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}

.container {
    @apply max-w-[1144px] px-5;
}

a, button {
    @apply transition;
}

svg {
    @apply fill-current;
}


.collapse-menu:not(.collapse_show) {
    display: none;
}

.user-select-none {
    @apply select-none;
}

.logo {
    font-size: 23px;
    background: #004264;
    color: #e9e9e9;
    border-radius: 6px;
    padding: 4px;
}

.nav-link {
    @apply h-full pt-2 text-sm font-medium text-neutral-500 dark:text-slate-100 relative after:content-[''] after:absolute
    after:w-0 after:h-[3px] after:bottom-0 after:left-0 after:bg-blue-700 dark:after:bg-blue-400 hover:after:w-full hover:text-neutral-900 dark:hover:text-slate-400 after:transition-all whitespace-nowrap;

    &.active {
        @apply text-neutral-900 dark:text-slate-400 after:w-full;
    }
}

.nav-button-prev, .nav-button-next {
    @apply opacity-100 transition;

    &[aria-disabled="true"] {
        @apply opacity-0 invisible;
    }
}


.menu__icon {
    @apply relative after:block before:block after:absolute after:right-4 after:rotate-[-45deg] after:top-1/2 after:h-[1px] after:w-2 after:bg-gray-700 dark:after:bg-gray-300 before:absolute before:right-[21px] before:rotate-[45deg] before:top-1/2 before:h-[1px] before:w-2 before:bg-gray-700 dark:before:bg-gray-300 after:transition-all before:transition-all after:rounded-sm before:rounded-sm;
}

.menu__has-sub--active {
    .menu__icon {
        @apply after:rotate-[45deg] before:rotate-[-45deg];
    }
}


.menu__sub-list {
    .active {
        @apply bg-white dark:bg-blue-700 w-full;
    }
}

.content {
    @apply bg-gray-50 dark:bg-gray-800;
}

.content__body {
    @apply pt-8 pl-12 pr-16 pb-8 md:px-5 overflow-x-hidden;
}

.burger {
    -webkit-tap-highlight-color: transparent;
}

.aside {
    -webkit-tap-highlight-color: transparent;

    @media (max-width: 768px) {
        height: calc(100% - 40px);
        width: 100%;
        z-index: 1001;
        left: -100%;
        top: 40px;
    }

}
.aside--active {
    transform: translateX(100%);
}
.btn {
    @apply inline-flex justify-center items-center gap-1 whitespace-nowrap focus:outline-none transition-colors cursor-pointer rounded border py-2 px-3 text-[12px];

    &[disabled="true"] {
        @apply cursor-not-allowed opacity-40;
    }
}

.btn-text {
    @apply items-center;
}

.btn-add, .btn-back {
    @apply uppercase text-sky-600 dark:text-slate-100 font-bold border-sky-600 dark:border-blue-700 dark:bg-blue-700 hover:text-white dark:hover:text-slate-300 hover:bg-sky-600 dark:hover:bg-blue-800;

    &[disabled="true"] {
        @apply hover:text-sky-600 hover:dark:text-slate-100;
    }
}

.btn-green {
    @apply uppercase text-green-600 font-bold border-green-600 hover:text-white hover:bg-green-600;

    &[disabled="true"] {
        @apply hover:text-green-600 hover:bg-transparent;
    }
}

.btn-red {
    @apply uppercase text-red-600 font-bold border-red-600 hover:text-white hover:bg-red-600;
}

.btn-danger {
    @apply uppercase text-white font-bold border-white dark:border-red-600 dark:hover:border-red-800 bg-red-600 hover:bg-red-800 ;
}

.btn-success {
    @apply uppercase text-white font-bold border-white dark:border-green-600 dark:hover:border-green-800 bg-green-600 hover:bg-green-800;
}

select {
    @apply focus:outline-none;
}

.text-input, .textarea, .select {
    @apply px-3 py-2 rounded border border-gray-400 dark:border-gray-700 dark:focus:border-blue-600 outline-none focus:ring focus:ring-offset-0 focus:ring-blue-600 h-12 bg-white dark:bg-gray-900 transition;
}

.select-small {
    @apply h-[36px] py-0;
}

.textarea {
    @apply h-[200px] w-full;
}

.select {
    background-image: url("data:image/svg+xml,%3csvg xmlns= 'http://www.w3.org/2000/svg' fill= 'none' viewBox= '0 0 20 20' %3e%3cpath stroke= '%236b7280' stroke-linecap= 'round' stroke-linejoin= 'round' stroke-width= '1.5' d= 'M6 8l4 4 4-4' /%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    appearance: none;
    @apply max-w-[250px] w-full;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    left: 0;
    cursor: pointer;
    opacity: 0;
    height: 1.25rem;
    width: 1.25rem;

    &.check-flex {
        left: initial;
        right: 0;
    }

    &:checked + .check {
        @apply bg-blue-600 border-blue-600;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E");
    }

    &:disabled {
        @apply cursor-not-allowed;
    }

    &:disabled + .check {
        @apply bg-gray-400 border-gray-400;
    }

    &:focus + .check {
        @apply outline outline-offset-0 outline-blue-900;
    }
}

.check {
    @apply border rounded border-blue-900 dark:border-gray-700 transition-all outline outline-none dark:bg-gray-900;
    background-position: 50% 20%;
    background-size: 70%;
    background-repeat: no-repeat;
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 0.25rem;
}

.admin-panel__wrapper-title {
    @apply gap-2;
}

.admin-panel__title {
    @apply font-bold sm:max-w-[150px];
}

.admin-panel__widget.disabled {
    @apply pointer-events-none opacity-80;
}

.tooltip {
    @apply relative;
}

.tooltip__content {
    @apply absolute left-6 bottom-0 text-white z-10 w-[30vw] h-fit bg-gray-900/90 dark:bg-gray-600 p-3 pr-0 text-sm rounded after:right-[100%] after:bottom-[7px] after:border-[5px] after:border-[transparent_rgba(17,24,39,.9)_transparent_transparent] after:content-[''] after:absolute transition-opacity;

    span {
        padding-right: 12px;
        max-height: 400px;
        overflow: auto;
        display: block;
    }
}

/*Widget styles*/

.jsoneditor-search input {
    /*TODO !important was here*/
    color-scheme: light;
}

.handsontable th {
    @apply dark:bg-gray-700 dark:text-slate-100;
}

.handsontable td {
    @apply dark:bg-gray-900 dark:text-slate-100;
}

.handsontable textarea {
    @apply dark:bg-gray-700 dark:text-slate-100;
}

.handsontable tbody th.ht__highlight, .handsontable thead th.ht__highlight {
    @apply dark:bg-gray-900;
}

.htContextMenu table tbody tr td.current, .htContextMenu table tbody tr td.zeroclipboard-is-hover {
    @apply dark:bg-gray-700;
}

.htContextMenu table tbody tr td.htDisabled:hover {
    @apply dark:bg-gray-700;
}

.handsontable tbody th.ht__active_highlight, .handsontable thead th.ht__active_highlight {
    @apply dark:text-slate-100;
}

.dropzone-fileuploader, .gallery-container-file-container {
    @apply dark:bg-gray-900 dark:text-slate-100;
}

.gallery-container-file-container {
    @apply dark:border-gray-700;

    img {
        @apply dark:border-gray-700;
    }
}

.list-search {
    @apply w-full border-b border-gray-400 dark:border-gray-400 dark:bg-gray-900 focus:outline-none px-1 text-sm font-medium;
}

.dataTables_filter {
    @apply mb-2 md:text-left;
    width: 100% !important;

    label {
        @apply flex gap-2 items-center dark:text-slate-100;
    }

    input {
        @apply focus:outline-none dark:border-slate-100 dark:placeholder-slate-100;
    }
}

.dataTables_scroll {
    @apply border border-gray-400 border-b-transparent dark:border-b-gray-400 rounded overflow-hidden;

    table {
        width: 100% !important;
    }

    .dataTables_scrollHead {
        @apply bg-gray-50 dark:bg-gray-900 text-gray-600 dark:text-slate-100;

        th {
            @apply font-medium dark:border-gray-400;
        }
    }

    .dataTables_scrollBody {
        @apply bg-white dark:bg-gray-800 resize-y;

        table {
            @apply border-collapse;

            tbody {
                tr {
                    @apply border-b border-gray-200 dark:border-gray-400;

                    &:last-child {
                        @apply border-none;
                    }
                }

                td {
                    text-align: center;
                }
            }
        }
    }
}

.dataTables_length {
    @apply mt-2;

    select {
        @apply dark:bg-gray-800;
    }
}

.list-action {
    @apply text-sky-600 dark:text-blue-300 font-medium hover:text-sky-800 inline-flex flex-nowrap items-center gap-1;

}

.dataTables_paginate .paginate_button {
    @apply dark:bg-gray-800 dark:hover:bg-gray-900 dark:hover:bg-gradient-to-b dark:hover:from-gray-700 dark:hover:to-gray-900;

    &.current {
        @apply dark:bg-gradient-to-b dark:from-gray-700 dark:to-gray-900;
    }
}


.ace_editor {
    width: 100%;
    height: 500px;
}

.geoJsonEditor {
    height: 500px;
    overflow: hidden;
}

.ql-editor {
    background: #fff;
}

.ql-toolbar.ql-snow {
    background: #fcfcfc;
}

/*CKeditor*/
.ck-editor__editable {
    min-height: 250px;
    resize: vertical;

    ol, ul {
        margin-left: 2.666rem;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: revert;
        font-weight: revert;
    }

    a {
        text-decoration: underline;
        color: revert;
    }
}


/** Styles for select-pure */

.select-wrapper {
    margin: auto;
    max-width: 600px;
    width: calc(100% - 40px);
}

.select-pure__select {
    @apply px-3 py-2 rounded border border-gray-400 dark:border-gray-700 h-12 bg-white dark:bg-gray-900 transition relative p-2;
    background-image: url("data:image/svg+xml,%3csvg xmlns= 'http://www.w3.org/2000/svg' fill= 'none' viewBox= '0 0 20 20' %3e%3cpath stroke= '%236b7280' stroke-linecap= 'round' stroke-linejoin= 'round' stroke-width= '1.5' d= 'M6 8l4 4 4-4' /%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    cursor: pointer;
    justify-content: left;
    min-height: 48px;
    height: auto;
}

.select-pure__select--opened {
    @apply ring ring-offset-0 ring-blue-600;
}

.select-pure__options {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    display: none;
    left: 0;
    max-height: 221px;
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 9999;
}

.select-pure__select--opened .select-pure__options {
    display: block;
}

.select-pure__option {
    @apply dark:bg-gray-900 dark:text-slate-100 dark:border-gray-700;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    height: 44px;
    line-height: 25px;
    padding: 10px;
}

.select-pure__option--selected {
    @apply dark:text-slate-600;
    color: #e4e4e4;
    cursor: initial;
    pointer-events: none;
}

.select-pure__option--hidden {
    display: none;
}

.select-pure__selected-label {
    @apply rounded bg-gray-600 text-white px-2 h-full inline-block flex items-center;
}

.select-pure__selected-label:last-of-type {
    margin-right: 0;
}

.select-pure__label {
    @apply flex gap-2 h-full items-center flex-wrap max-w-[90%];
}

.select-pure__selected-label i {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
    @apply transition;
}

.select-pure__selected-label i:hover {
    @apply text-red-400;
}

.select-pure__autocomplete {
    @apply dark:bg-gray-700 dark:text-slate-100 dark:border-gray-700;
    background: #f9f9f8;
    border-bottom: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;
}

/* schedule */

.schedule {
    @apply mt-3 mr-8 h-full dark:bg-gray-900;
}

.schedule__wrap {
    @apply flex items-center mb-4;
}

.schedule__content {
    display: flex;
}

.schedule__content {
    @apply border border-sky-800 dark:border-gray-700 mx-6 dark:bg-gray-700;
}

.schedule__content input {
    @apply fixed z-[-1] opacity-0;
}

.schedule__content label {
    @apply border-r-sky-800 text-sky-800 dark:text-slate-100 uppercase transition cursor-pointer hover:opacity-60;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 9px 13px;
}


.schedule__form {
    @apply flex flex-col h-full border border-sky-800 dark:border-gray-700 pl-4 pr-2 pt-3 pb-2 w-full max-w-[415px];
}

.schedule__content input:checked + label {
    @apply bg-blue-900 text-white;
}

.schedule__nav {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 15px;
}

.schedule__nav button {
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s;
}

.schedule button {
    cursor: pointer;
    transition: .2s;
}

.schedule button:hover {
    opacity: .6;
}

.schedule__nav span {
    @apply text-blue-800 dark:text-blue-400;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
}

.schedule__nav i {
    @apply text-gray-600 dark:text-slate-100;
    font-size: 16px;
    margin-right: 13px;
}

.schedule__close {
    @apply text-black dark:text-slate-100;
    font-size: 12px;
}

.schedule__dots {
    @apply text-black  dark:text-slate-100;
    font-size: 16px;
}

.schedule__arrow {
    font-size: 18px;
    margin-right: 20px;
    @apply text-black  dark:text-slate-100;
}

.schedule__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.schedule__time {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.schedule__time label {
    font-size: 13px;
    line-height: 14px;
    @apply text-black  dark:text-slate-100;
    margin-right: 13px;
}

.schedule__time span {
    position: relative;
    margin-right: 5px;
}

.schedule__time span i {
    position: absolute;
    right: -4px;
    top: 7px;
    font-size: 8px;
}

.schedule__time input {
    @apply dark:text-slate-100;
    font-size: 13px;
    width: 80px;
    color: #000000;
}

.schedule__time--date input {
    width: 110px;
}

.schedule__time input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 8px;
    width: 20px;
    height: 20px;
    background: none;
}

.schedule__time .schedule__close i {
    font-size: 12px;
}

.schedule-wrapper {
    margin-bottom: 20px;
}

.schedule-add:hover {
    cursor: pointer;
    opacity: .6;
}

.schedule-add i {
    transition: .2s;
    font-size: 16px;
}

.schedule-placeholder {
    max-width: 410px;
    min-height: 190px;
    margin-top: 10px;
    margin-right: 30px;
}


/*Modal*/
.modal {
    @apply fixed w-screen h-screen top-0 left-0 z-[1002];
}

.modal-dialog {
    @apply w-[90%] max-w-[800px] absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] bg-white text-black p-4 rounded dark:bg-gray-800 dark:text-slate-100;
}

.modal-backdrop {
    @apply bg-neutral-800/80 w-full h-full;
}

.modal-body {
    @apply text-sm max-h-[75vh] overflow-y-auto p-2;

    .info {
        @apply flex flex-col gap-2 mt-4;
    }

    .form-group {
        @apply flex flex-wrap gap-1;

        input[type="text"] {
            @apply pl-2 py-1 rounded border border-gray-400 dark:border-gray-700 outline-none focus:ring-1 focus:ring-offset-0 focus:ring-blue-600 h-6 bg-white dark:bg-gray-900 transition w-full;
        }
    }
}

.modal-footer {
    @apply mt-3 flex justify-end gap-2;
}


/* Pop-up */
.admin-modal-pu {
    z-index: 99999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .62);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out
}

.admin-modal-pu--active {
    opacity: 1;
    visibility: visible
}

.admin-modal-pu-wrapper {
    @apply dark:bg-gray-800;
    position: absolute;
    top: 0;
    left: 120%;
    width: 80%;
    height: 100vh;
    background-color: #f0f8ff;
    transition: all .3s ease-in-out
}

.admin-modal-pu--active .admin-modal-pu-wrapper {
    left: 20%
}

.admin-modal-pu--active .admin-modal-pu-wrapper.admin-modal-pu-offset {
    left: 0;
    width: 100%;
    padding-right: 20%;
}

.close-admin-modal-pu {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px
}

.close-admin-modal-pu:hover svg path {
    fill: red
}

@media (max-width: 768px) {
    .admin-modal-pu-wrapper {
        left: 100%;
        width: 100%
    }

    .admin-modal-pu--active .admin-modal-pu-wrapper {
        left: 0
    }
}

.htContextMenu:not(.htGhostTable) {
    z-index: 99999;
}
.material-icons-outlined {
    font-size: 16px;
}

@import "./widgets.css";
@import "./ch_switcher.css";
@import "./catalog.css";

