.admin-widgets {
    @apply relative;
}

.admin-widgets__init {
    @apply flex items-center justify-center px-12 py-16 text-gray-600 text-lg;
}

.admin-widgets__head {
    @apply flex justify-between mb-8;
}

.admin-widgets__head-left h1 {
    @apply text-xl font-medium;
}

.admin-widgets__head-right {
    @apply flex items-center;
}

.admin-widgets__head-switcher {
    @apply mr-8;
}

.admin-widgets__head-info {
    @apply w-[30px] h-[30px] rounded-full bg-gray-300 flex justify-center items-center font-medium text-xl cursor-pointer mr-12;
}

.admin-widgets__head-add {
    @apply cursor-pointer hover:text-green-700 transition;
}

.admin-widgets__head-add .icon-add {
    @apply text-3xl;
}

.admin-widgets__wrapper {
    @apply flex flex-col justify-center items-center w-full h-full rounded transition;
}

.admin-widgets__wrapper--switcher {
    @apply cursor-pointer hover:brightness-110;
}

.admin-widgets__wrapper--switching {
    @apply brightness-75 hover:brightness-75 pointer-events-none;
}

.admin-widgets__wrapper--link {
    @apply cursor-pointer;
}

.admin-widgets__title {
    @apply text-amber-50 flex flex-col justify-between gap-2.5 p-3 w-full h-full;
}

.admin-widgets__bottom {
    @apply flex items-end justify-between gap-5;
}

.admin-widgets__icon {
    @apply text-xl;
}

.admin-widgets__name {
    @apply font-bold;
}

.admin-widgets__desc {
    @apply text-sm;
}

.admin-widgets__state {
    @apply text-lg font-bold;
}

.admin-widgets__flexible {
    @apply w-full h-full;
}

.admin-widgets__flexible--flex {
    animation: tilt-shaking 0.3s ease-in-out;
}

.admin-widgets__flexible--flex .admin-widgets__close {
    @apply opacity-100 visible;
}

@keyframes tilt-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

#widgets {
    max-width: 1140px;
    width: 99%;
}

.vue-grid-item {
    touch-action: auto;
    box-sizing: border-box;
    transition: all .2s ease;
    transition-property: left, top, right;
}

.vue-grid-item.no-touch {
    touch-action: none;
}

.vue-grid-item.css-transforms {
    transition-property: transform;
    left: 0;
    right: auto;
}

.vue-grid-item.resizing {
    opacity: .6;
    z-index: 3;
}

.vue-grid-item.vue-draggable-dragging {
    transition: none;
    z-index: 3;
}

.vue-grid-item.vue-grid-placeholder {
    background: red;
    opacity: .2;
    transition-duration: .1s;
    z-index: 2;
    user-select: none;
}

.vue-grid-item > .vue-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 20;
    bottom: 0;
    right: 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08c3ZnIGlkPSJVbnRpdGxlZC1QYWdlJTIwMSIgdmlld0JveD0iMCAwIDYgNiIgc3R5bGU9ImJhY2tncm91bmQtY29sb3I6I2ZmZmZmZjAwIiB2ZXJzaW9uPSIxLjEiDQl4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIg0JeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ig0+DQk8ZyBvcGFjaXR5PSIwLjMwMiI+DQkJPHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz4NCTwvZz4NPC9zdmc+);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 0 3px 3px 0;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}

.vue-grid-item.disable-user-select {
    user-select: none;
}

.vue-grid-layout {
    position: relative;
    transition: height .2s ease;
}

.add-widgets-pop-up {
    @apply text-neutral-700;
}

.add-widgets-pop-up__block {
    @apply pointer-events-none;
}

.add-widgets-pop-up__head h2 {
    @apply text-xl;
}

.add-widgets-pop-up__head-nav {
    @apply flex justify-between mt-12 items-center flex-wrap gap-5;
}

.add-widgets-pop-up__head-nav .text-input {
    @apply h-8;
}

.add-widgets-pop-up__nav {
    @apply flex gap-7 flex-wrap;
}

.add-widgets-pop-up__nav-item {
    @apply cursor-pointer transition;
}

.add-widgets-pop-up__nav-item--active {
    @apply font-medium text-black;
}

.add-widgets-pop-up__body {
    margin-top: 71px;
}

.add-widgets-pop-up__widgets {
    @apply flex flex-col gap-16;
}

.add-widgets-pop-up__widgets-item h3 {
    @apply text-xl sm:text-center;
}

.add-widgets-pop-up__widgets-array {
    @apply flex gap-6 mt-8 flex-wrap sm:justify-center;
}

.add-widgets-pop-up__widgets-array-item {
    @apply w-[200px] h-[225px] bg-slate-200 rounded p-3.5 flex flex-col justify-between;
}

.add-widgets-pop-up__widgets-array-item-icon {
    @apply text-2xl;
}

.add-widgets-pop-up__widgets-array-item-top {
    @apply flex flex-col gap-4;
}

.add-widgets-pop-up__widgets-array-item-btn {
    @apply h-[40px] bg-sky-600 text-white rounded flex items-center justify-center cursor-pointer hover:bg-sky-700 transition;
}

.add-widgets-pop-up__widgets-array-item-btn-added {
    @apply h-[40px] text-amber-600 rounded border border-amber-600 flex items-center justify-center cursor-pointer hover:bg-amber-600 hover:text-white transition;
}
